@tailwind base;
@tailwind components;
@tailwind utilities;

.home-height{
  height: calc(100vh - 4rem);
}

::-webkit-scrollbar {
    height: 3px;              /* height of horizontal scrollbar ← You're missing this */
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0e0d0d; 
  }
  
  ::-webkit-scrollbar-thumb:horizontal{
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .video-play{
    width: 965px;
    height: 540px;
  }

  .vcard{
    height: 180px
  }

  .vcard-img{
    height: 180px;
    width: 320px;
  }
